@model PetFinderAPI.Models.Post
@{
    ViewBag.Title = "Store";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/tagsinput.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
}

<div class="content">

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            @*<form>*@
            @using (Html.BeginForm("Store", "Posts", FormMethod.Post))
            {

                <div class="form-group">
                    <label>Pet<span class="text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.PetId, new SelectList(ViewBag.ABC, "Value", "Text"), "-Please select-", new { @class = "form-control" })
                </div>



                <div class="form-group">
                    <label>Post Categories<span class="text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.PostCategoryId, new SelectList(ViewBag.hhh, "Value", "Text"), "-Please select-", new { @class = "form-control" })
                </div>


                <div class="form-group">
                    <label>Content</label>
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                </div>



                <div class="form-group gender-select">
                    <label class="gen-label">IsActive:</label>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @*<input type="radio" name="gender" class="form-check-input" checked="">Male*@
                            @Html.RadioButtonFor(m => m.IsActive, "True", new { Checked = "checked" }) True
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @*<input type="radio" name="gender" class="form-check-input">Female*@
                            @Html.RadioButtonFor(m => m.IsActive, "False")  False
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label>Images</label>
                    <div>
                        <input name="Images" id="Images" class="form-control" type="file">
                        <small class="form-text text-muted">Max. file size: 50 MB. Allowed images: jpg, gif, png. Maximum 10 images only.</small>

                    </div>


                    @*<div class="editor-label">
                            <label name="hinhanh" id="img"></label>
                        </div>*@
                </div>
                <div class="row" id="list-img">

                </div>

                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn">Add Post</button>
                </div>
                @*</form>*@}
        </div>
    </div>
</div>
<div class="notification-box">
    <div class="msg-sidebar notifications msg-noti">
        <div class="topnav-dropdown-header">
            <span>Messages</span>
        </div>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 26px;">
            <div class="drop-scroll msg-list-scroll" id="msg_list" style="overflow: hidden; width: auto; height: 26px;">
                <ul class="list-box">
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Richard Miles </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item new-message">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">John Doe</span>
                                    <span class="message-time">1 Aug</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Tarah Shropshire </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Mike Litorus</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Catherine Manseau </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">D</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Domenic Houston </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">B</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Buster Wigton </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Rolland Webber </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Claire Mapes </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Melita Faucher</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Jeffery Lalor</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">L</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Loren Gatlin</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Tarah Shropshire</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><div class="slimScrollBar" style="background: rgb(135, 135, 135); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 809px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
        <div class="topnav-dropdown-footer">
            <a href="chat.html">See all messages</a>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/tagsinput.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>


    <script>$(document).ready(function () {

            $('#Images').click(function () {
                var ckfinder = new CKFinder();
                ckfinder.selectActionFunction = function (Images) {
                    $('#list-img').append(
                        '<div class="col-md-3 col-sm-3 col-4 col-lg-3 col-xl-2"> <div class= "product-thumbnail"> <img src=' + Images + ' class="img-thumbnail img-fluid" alt=""><span class= "product-remove" title = "remove"> <i onClick="(() => {$(event.target).parents().get(2).remove();})()" class="fa fa-close"> <input type="hidden" name="images" value="' + Images + '"> </i></span ></div ></div > '
                    );
                };
                ckfinder.popup();
            });
        })
            ;</script>

    <script>$(document).ready(function () {
            CKEDITOR.replace("Content", { customConfig: "~/Content/ckeditor/config.js" });

        })
            ;</script>
}
